@import "style.css";
@import "flex.css";

.regform{
    width:450px;
    height:500px;
    margin:10px auto;
    background:grey;
    padding:20px;  
    border:3px solid orange;
}
h2{
    cursor: help;
    padding-left:10px;
}
.label {
    padding-left:20px;
    margin-top:10px;
    text-transform:uppercase;
}
input{
    margin-top:10px;
    height:30px;
    width:300px;
    border-radius:20px; 
}